{% extends 'tables.html' %}
{% load static %}
{% block tittle%}
    Listado de Usuarios
{% endblock tittle%}

{%block usuario %}
    {{ user.nombres }} {{ user.apellidos }}
{%endblock usuario %}
{% block reportes %}
    <script></script>
{% endblock reportes %}
{%block header %}

     <link rel="stylesheet" type="text/css" media="all" href="{%  static 'lib/daterangepicker-master/daterangepicker.css' %}" />

      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>

      <script type="text/javascript" src="{%  static 'lib/daterangepicker-master/daterangepicker.js' %} "></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <link rel="stylesheet" href="{%  static 'reportes/js/reportes.js' %}" />
    <!--  DATA TABLE OPTIONS-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>



    <link rel="stylesheet" type="text/css" media="all" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" media="all" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" />


	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
    <script>
    $(function() {
        $(document).ready(function() {
            $('#dataTable').DataTable({
                responsive: true,
                destroy: true,
                ordering: true,
                searching:true,
                info: false,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: 'Excel <i class="fas fa-file-excel"></i>',
                        titleAttr: 'Excel',
                        className: 'btn btn-sucess bnt-flat btn-xs'
                    },
                    'copy', 'print'
                ]
            });
        } );
    });
    </script>

{%endblock header %}
{% block pagename %}
    Usuarios
{%endblock pagename %}

{% block body %}
<div class="container">
    {% if messages %}
    <div class="alert alert-success d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
          <div>
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
          </div>
    </div>
    {% endif %}
</div>
    <div class="container-fluid">
            <h1 class="h3 mb-2 text-gray-800">Listado de Usuarios Existentes</h1>
            <p class="mb-4">Listado de usuarios y sus estatus</p>
            <a href="{% url 'crear_usuario' %}" type="button" class="btn btn-outline-success btn-sm shadow">Agregar Usuario</a>

    </div>

    {% if usuarios %}

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>username</th>
                            <th>email</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Departamento</th>
                            <th>Teléfono</th>

                            <th>Activo?</th>
                            <th>Es Staff?</th>
                            <th>Opciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                            <tr>
                                <td>{{ usuario.id }}</td>
                                <td>{{ usuario.username }}</td>
                                <td>{{ usuario.email }}</td>
                                <td>{{ usuario.nombres }}</td>
                                <td>{{ usuario.apellidos }}</td>
                                <td>{{ usuario.departamento_id }}</td>
                                <td>{{ usuario.telefono }}</td>
                                <td>{{ usuario.is_active }}</td>
                                <td>{{ usuario.is_staff }}</td>
                                <td>
                                    {% if perms.personas.change_usuario %}
                                    <a href="{% url 'editar_usuario' usuario.id%}"  >
                                        <img title="Editar Usuario" width="30" height="30" src="{% static 'img/edit.png' %}" class="img-thumbnail" alt="Editar Recurso">
                                    </a>
                                    <a href="{% url 'eliminar_usuario' usuario.id%}" >
                                        <img title="Eliminar el Usuario" width="30" height="30" src="{% static 'img/trash.png' %}" class="img-thumbnail" alt="Eliminar Recurso">
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div align="center">
            <h1>No existen usuarios registrados actualmente</h1>
        </div>
    {% endif %}

{% endblock body %}