{% extends 'tables.html' %}

{% block tittle%}
    Eliminar Proveedor
{% endblock tittle%}


{% block pagename %}
     Eliminar Proveedor
{%endblock pagename %}

{%block usuario %}
    {{ user.nombres }} {{ user.apellidos }}
{%endblock usuario %}

{% block body %}
    <form method="POST">
        {% csrf_token %}
        <h2>¿Desea eliminar el proveedor : {{ proveedor.nombre }} ?</h2>
        <button type="submit" class="btn btn-google btn-user btn-block"> Eliminar</button>
        <a href="{% url 'listar_proveedores' %}" class="btn btn-primary btn-user btn-block">Cancelar</a>
    </form>
{% endblock body %}