{% extends 'tables.html' %}

{% block tittle%}
    Alta de Requisiciones
{% endblock tittle%}

{%block usuario %}
    {{ user.nombres }} {{ user.apellidos }}
{%endblock usuario %}

{% block pagename %}
    Agregar de Requisición de Compra
{%endblock pagename %}
{% block vehiculo %}
<style>
    .divvehiculo{
        display: true;

    }
    .divvehiculo2{


    }
</style>
{% endblock vehiculo %}
{% block body %}
<div class="card o-hidden border-0 shadow-lg my-5" >
    <div class="card-body p-0" >
        <div class="container-fluid">
            <br>
            <h1 class="h3 mb-2 text-gray-800">Formulario para agregar/editar Requisiciones</h1>
            <p class="mb-4">Esta seccion es para agregar los requerimientos de Compra.</p>

            <form method="POST">
        {% csrf_token %}
        {% if error %}
            <h2>Se produjo un error: {{ error }}</h2>
        {% else %}

             {% if grupo == 'superadmin' %}
                <div class="row g-3 entradas"">
                    <div class="col-auto">
                        <select name="departamentos" class="form-select form-select-sm">
                            {% for departamento in departamentos %}
                                <option value="{{ departamento.id }}" {% if departamento.id == departamento_actual %} selected {% endif %} >{{ departamento.nombre }}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
            {% else %}
                <input type="hidden" name="departamentos" value="">
            {% endif  %}

            <div class="row g-3 entradas">
                <div class="col-auto">
                <label >Por favor selecciona el recurso:</label>
                {{ requisicion_form.recursos_id }}
                </div>
            </div>
            <div class="row g-3 entradas">
                <div class="col-auto">
                    <label >Producto (Seleccione el producto que necesita)</label>
                    <label >Si no se encuentra puede darlo de alta <a href="{% url 'crear_producto' %}">AQUI</a></label>
                    {{ requisicion_form.producto_id }}
                </div>
            </div>

            <div id="admDivCheck" class="row g-3 entradas" >
                <div class="col-auto">
                    <label >El vehículo seleccionado es:</label>
                    {{ requisicion_form.vehiculo_id }}
                </div>
            </div>

           <div class="row g-3 entradas">
                <div class="col-auto">
                    <label >Proveedor (Seleccione el proveedor)</label>
                    <label >Si no se encuentra puede darlo de alta <a href="{% url 'crear_proveedor' %}">AQUI</a></label>
                    {{ requisicion_form.proveedor_id }}
                </div>
           </div>
           <div class="row g-3" style="margin: 1em; padding: 1em; border-radius: 4px;  ">
                <div class="col">
                    <label >Descripcion (Por favor detalle el motivo de la compra)</label>
                    {{ requisicion_form.descripcion }}
                </div>
           </div>
            <br>
           <div class="row g-3" style="margin: 1em; padding: 1em; border-radius: 4px;  ">
                <div class="col">
                    <button class="btn btn-primary" type="reset">Limpiar</button>
                    <button class="btn btn-primary" type="submit"> Guardar</button>
                </div>
           </div>
        {% endif  %}
    </form>
    <script>
        $(function () {
            $('select[name="producto_id"]').on('change',function () {
                var id = $(this).val();
                if((id == 3) || (id == 5) || (id == 13) || (id == 19) || (id == 21)){
                    document.getElementById("admDivCheck").style.display = "block";
                }
                else{
                    document.getElementById("admDivCheck").style.display = "none";
                    $('select[name="vehiculo_id"]').val("");
                }

                });

        });
    </script>
{% endblock body %}