{% extends 'tables.html' %}

{% block tittle%}
    Alta de Requisiciones
{% endblock tittle%}

{%block usuario %}
    {{ user.nombres }} {{ user.apellidos }}
{%endblock usuario %}

{% block pagename %}
    Agregar de Requisición de Compra
{%endblock pagename %}

{% block body %}
<div class="card o-hidden border-0 shadow-lg my-5" >
    <div class="card-body p-0" >
        <div class="container-fluid">
            <br>
            <h1 class="h3 mb-2 text-gray-800">Formulario para agregar/editar Requisiciones</h1>
            <p class="mb-4">Esta seccion es para agregar los requerimientos de Compra.</p>

            <form method="POST">
        {% csrf_token %}
        {% if error %}
            <h2>Se produjo un error: {{ error }}</h2>
        {% else %}
             <label >Concepto (Ej. Gasolina, insumos, papeleria, etc)</label>
            {{ requisicion_form.concepto }}
            <label >Producto (Seleccione el producto que necesita)</label>
            <label >Si no se encuentra puede darlo de alta <a href="{% url 'crear_producto' %}">AQUI</a></label>
            {{ requisicion_form.producto_id }}
                <label >Descripcion (Por favor detalle el motivo de la compra)</label>
            {{ requisicion_form.descripcion }}
            <br>
            <button class="btn btn-primary" type="reset">Limpiar</button>
            <button class="btn btn-primary" type="submit"> Guardar</button>
        {% endif  %}
    </form>
{% endblock body %}